#md-main-navbar {
max-width:1000px;
margin-left:auto;
margin-right:auto;
}

/* Nedan kanske borde in via sass i huvud-css? */

iframe.md-external {margin-top: 8px !important; margin-bottom: 4px !important}


@media (min-width: 550px) {
img[alt=klassisk_kunskap] {max-width: 300px !important; height: auto !important;}
img[alt=BILD_halv] {max-width: 300px !important; height: auto !important;}

}

/* om jag vill göra alla bilder så de sträcks över hela sidan = img[alt=BILD] {width:100%;} */


 /* OBS: innan fungerade inte det hela med den responsiva versionen, med min width 550px bör dock detta vara löst och funka för de mesta /*
 
 
